* {
   font-family: Arial, Helvetica, sans-serif;
}

.app {
   max-width: 1200px;
   margin: 0 auto;
   padding: 0 20px;
}

/* Header */
.nav-bar {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.nav-bar h1 {
   font-style: italic;
}

.nav-bar ul {
   display: flex;
   list-style: none;
   gap: 120px;
   font-size: 18px;
}

/* Search Bar */
.search {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 20px;
}

.search input {
   width: 300px;
   height: 30px;
   border-radius: 25px;
   border: 1px solid gray;
}

.search span {
   height: 200px;
}
